<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" style="font-family:Century Gothic">
        JokeApp™ v2.0
        <span *ngIf="activeUser.role === 'ADMIN'" class="badge badge-light">ADMIN</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="activeUser.username">
                <a class="nav-link" routerLink=""(click)=postLogin(activeUser)><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item" *ngIf="activeUser.username">
                <a class="nav-link" routerLink="/jokes"><i class="fas fa-laugh-squint"></i> Jokes</a>
            </li>
            <li class="nav-item" *ngIf="activeUser.username">
                <a class="nav-link" routerLink="/users"><i class="fas fa-users"></i> Users</a>
            </li>
            <li class="nav-item" *ngIf="activeUser.role === 'USER'">
                <a class="nav-link" routerLink="/users/{{activeUser.id}}"><i class="fas fa-user"></i> My profile</a>
            </li>
            <li class="nav-item" *ngIf="activeUser.role === 'ADMIN'">
                <a class="nav-link" routerLink="/users/{{activeUser.id}}"><i class="fas fa-user-shield"></i> My profile</a>
            </li>
        </ul>
        <a href=""><button class="btn btn-outline-danger" type="submit"*ngIf="activeUser.username" (click)=logout()><i class="fas fa-sign-out-alt"></i>  Sign out</button></a>
    </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">
        <p style="text-align:left;">
                Welcome
            <span style="float:right;" *ngIf="activeUser.username">
                Hello {{activeUser.username}}!
            </span>
            <span style="float:right;" *ngIf="!activeUser.username">
                <p>Hi, please sign in!</p>
                <button style="float:right;" class="btn btn-outline-info my-2 my-sm-0"routerLink=""*ngIf="router.url !== '/'"><i class="fas fa-sign-in-alt"></i> Sign in</button>
            </span>
        </p>
  </h1>
  <p class="lead">to the best joke app ever. Read, post, edit, favourite, like and dislike jokes.</p> 
</div>

<div class="container" *ngIf="router.url === '/' && activeUser.username">
    <h2 class="display-4">Joke of the day:</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a routerLink="/jokes/{{jokeOfTheDay?.id}}">
                {{jokeOfTheDay?.jokeText}}
            </a>
            <span class="badge badge-primary badge-pill" routerLink="/users/{{jokeOfTheDay?.user.id}}">{{jokeOfTheDay?.user.username}}</span>
        </li>
    </ul>
    <h2 class="display-4" style="margin-top: 20px;">Our top five:</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let top of top5">
            <a routerLink="/jokes/{{top?.id}}">{{top?.jokeText}}</a>
            <span class="badge badge-primary badge-pill" routerLink="/users/{{top?.user.id}}">{{top?.user.username}}</span>
        </li>
    </ul>
    <h2 class="display-4" style="margin-top: 20px;">Some statistics:</h2>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a routerLink="/jokes">Total jokes posted</a>
            <span class="badge badge-primary badge-pill">{{jokes?.length}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
                <a routerLink="/users">Total users registered</a>
          <span class="badge badge-primary badge-pill">{{users?.length}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          People who left without smiling
          <span class="badge badge-primary badge-pill">0</span>
        </li>
    </ul>
    <h2 class="display-4" style="margin-top: 20px;" *ngIf="activeUser.role === 'ADMIN'">Set logging level:</h2>
    <div class="form-group" *ngIf="activeUser.role === 'ADMIN'">
        <p class="text-info" *ngIf=setClicked>Level successfully changed!</p>
        <select [(ngModel)]="topic" class="form-control">
            <option *ngFor="let topic of topics"> {{topic}}</option>
        </select>
        <select [(ngModel)]="level.configuredLevel" class="form-control" style="margin-top: 10px;">
            <option *ngFor="let level of levels"> {{level}}</option>
        </select>
        <button style="margin-top: 10px;" type="submit" class="btn btn-outline-info" (click)=setLevel()><i class="fas fa-sliders-h"></i> Set</button>
    </div>
    
</div>

<div class="container" *ngIf="!activeUser.username"> 
    <h3 class="display-4">Login or register:</h3>
    <p class="text-danger" *ngIf=loginFailed>Incorrect username or password. Try again!</p>
    <form name="login">
        <div class="form-group">
            <label for="username">Username:</label>
            <input [(ngModel)]="username" name="username" type="text" class="form-control" id="username"> 
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-outline-info" (click)=login()><i class="fas fa-sign-in-alt"></i> Login</button>
        <button type="submit" class="btn btn-outline-info" style="margin-left: 10px;" (click)=register()><i class="fas fa-user-plus"></i> Register</button>
    </form>
</div>

<router-outlet *ngIf="activeUser.username"></router-outlet> <!--omogucuje route na druge stranice: lokacija druge stranice preko app component-->

<div class="containter" style="margin-top: 50px;">
    <blockquote class="blockquote text-center">
        <p class="mb-0">The gods too are fond of a joke.</p>
        <footer class="blockquote-footer">Greek philosopher <cite title="Source Title">Aristotle</cite></footer>
    </blockquote>
</div>
<!--<app-message></app-message> koristimo message komponentu na stranici-->

<footer class="page-footer font-small pt-4">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
         <a href="https://www.combis.hr/"> Combis</a>
    </div>
</footer>